# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
.venv
.flaskenv

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Local development settings
local_settings.py

# Logs
*.log
