blinker==1.9.0
branca==0.4.0  # Replace with the latest stable version available on PyPI
Brotli==1.0.9  # Replace with the latest stable version available on PyPI
certifi==2023.6.15  # Replace with the latest stable version available on PyPI
charset-normalizer==2.1.1  # Replace with the latest stable version available on PyPI
click==8.1.7
Flask==3.1.0
Flask-Cors==5.0.0
folium==0.12.1  # Replace with the latest stable version available on PyPI
idna==3.4  # Replace with the latest stable version available on PyPI
itsdangerous==2.2.0
Jinja2==3.1.2  # Replace with the latest stable version available on PyPI
MarkupSafe==2.1.1  # Replace with the latest stable version available on PyPI
numpy==2.1.1
pandas==2.2.2
pygame==2.6.0
PySocks==1.7.1  # Replace with the latest stable version available on PyPI
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.28.1  # Replace with the latest stable version available on PyPI
six==1.16.0
tzdata==2024.1
urllib3==1.26.15  # Replace with the latest stable version available on PyPI
Werkzeug==3.1.3